#title {
    text-align: center;
    font-size: 50px;
    margin-top: 75px;
    margin-bottom: 50px;
    font-family: Monaca;
    text-decoration-thickness: 3px;

    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

#title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background-color: black;

    transform-origin: middle;
    animation-name: title_animation;
    animation-timing-function: ease;
    animation-duration: 1s;
}

@keyframes title_animation {
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}

}

#certifications {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    animation-name: certification_animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0.3;

}

@keyframes certification_animation {
    from {opacity: 0.3;}
    to {opacity: 1;}

}

.certification {
    position: relative;
    width: 450px;
    height: 450px; 

    animation-name: certification_size_animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    transform: scale(0.8);
}

@keyframes certification_size_animation {
    from {transform: scale(0.8);}
    to {transform: scale(1);}
}

.picture_certification {
    width: 100%;
    height: auto;
    border-style: double;
    border-color: black;
    border-width: 5px;
}