.header{
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
}


/* Adjust black border of header */
.inner_header{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    float: right;
    background-color: black;
}

.navigation{
    width: 100%;
    height: 100%;
    font-weight: 400px;
    justify-items: center;
    list-style-type: none;
}

.navigation li{
    width: auto;
    height: 100%;
    padding: 0px 20px;
    float: left;
    vertical-align: middle;
    display: flex;
}

.navigation li:first-child{
    padding-left: 35px;
}

.navigation li a {
    margin: auto;
    font-size: 1.2em;
    font-family: Bahnschrift Light;
    color: white;

    position: relative;
    display: inline-block;
    cursor: pointer;

    opacity: 0.75;
}

.navigation li a:hover {
    opacity: 1;
}

.navigation li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.7s ease;
}

.navigation li a:hover::after {
    transform: scaleX(1);
}

