#title {
    text-align: center;
    font-size: 50px;
    margin-top: 75px;
    margin-bottom: 50px;
    font-family: Monaca;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.project {
    position: relative;
    width: 450px;
    height: 450px; 
}

.picture_project {
    width: 100%;
    height: 100%;
}
