* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Verdana', sans-serif; 
    color: white;
}

#parallax-background {
    position: fixed; /* Fix it to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 125vh; /* Full viewport height */
    background-image: url('../img/TechBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; /* Ensures it stays behind other content */


    transition: transform 0.25s ease-in-out;
    will-change: transform;
}

#header-container {
    height: 100px;
    background-color: black;
    z-index: 1; /* Content sits above the parallax background */
}

#footer-container {
    height: 50px;
    z-index: 1; /* Content sits above the parallax background */
}





@media screen and (max-width: 1449px) {
    html { font-size: 80%; }
}

@media screen and (max-width: 949px) {
    html { font-size: 70%; }
}

@media screen and (max-width: 565px) {
    html { font-size: 65%; }
}