* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Verdana', sans-serif; 
}

#parallax-background {
    position: fixed; /* Fix it to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh; /* Full viewport height */
    background-image: url('../img/TreeBackground.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; /* Ensures it stays behind other content */
}

#header-container {
    height: 100px;
    background-color: black;
    z-index: 1; /* Content sits above the parallax background */
}

#footer-container {
    height: 50px;
    z-index: 1; /* Content sits above the parallax background */
}